body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  background-size: cover;
  z-index: 1;
}
canvas {
  background-color: aquamarine;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: absolute;
  transform: translate(-50%, -50%);
  background: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 50%;
  top: 50%;
  z-index: 3;
}
.dog {
  position: absolute;

  top: 78%;
  left: 10%;
  width: 290px;
  height: 160px;
  background: url("../assets/images/dog/dogsniffing.png");
  background-size: 1525px 155px;
  animation: dog-sniff 1.75s steps(4) forwards;
  background-repeat: no-repeat;

  z-index: 4;
}

@keyframes dog-sniff {
  0% {
    background-position: -1220px 0;
    left: 5%;
  }
  25% {
    left: 15%;
  }
  50% {
    left: 25%;
  }
  75% {
    left: 35%;
  }
  99% {
    background-position: 0 0;
    left: 50%;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.dog.found {
  top: 75%;
  width: 290px;
  height: 160px;
  left: 45%;
  background-image: url("../assets/images/dog/found.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 4;
  animation: dog-found 1.75s steps(1) forwards;
}

.dog.jump {
  position: absolute;
  left: 45%;
  width: 370px;
  height: 160px;
  background-image: url("../assets/images/dog/jump.png");
  background-size: 900px 155px;
  animation: dog-jump 1s steps(2);
  z-index: 5;
}

@keyframes dog-jump {
  0% {
    background-position: -61.5px 0;
    bottom: 10%;
  }

  50% {
    transform: scale(50%);
    bottom: 30%;
  }

  90% {
    transform: scale(25%);
    bottom: 10%;
    opacity: 70%;
  }

  100% {
    background-position: 132px 0;
    transform: scale(1%);
    bottom: 10%;
    opacity: 0%;
  }
}

.dog2.got-one {
  position: absolute;
  width: 180px;
  height: 130px;
  border: 1px solid red;
  left: 48%;
  bottom: 13%;
  background-image: url("../assets/images/dog/dog1duck.png");
  background-size: 100%;
  animation-name: dog-1-duck;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  background-repeat: no-repeat;

  z-index: 1;
}

@keyframes dog-1-duck {
  0% {
    bottom: 0%;
    opacity: 1;
  }

  30% {
    bottom: 26%;
  }

  60% {
    bottom: 26%;
  }

  99% {
    opacity: 1;
  }

  100% {
    bottom: 0%;
    opacity: 0;
  }
}

.dog2.got-two {
  position: absolute;
  width: 180px;
  height: 130px;
  border: 1px solid red;
  left: 48%;
  bottom: 13%;
  background-image: url("../assets/images/dog/dog2ducks.png");
  background-size: 100%;
  animation-name: dog-2-ducks;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  background-repeat: no-repeat;

  z-index: 1;
}

@keyframes dog-2-ducks {
  0% {
    bottom: 0%;
    opacity: 1;
  }

  30% {
    bottom: 26%;
  }

  60% {
    bottom: 26%;
  }

  99% {
    opacity: 1;
  }

  100% {
    bottom: 0%;
    opacity: 0;
  }
}

.dog2.laugh {
  position: absolute;
  width: 10vw;
  height: 8vw;
  left: 48%;
  bottom: 8%;
  opacity: 0;
  background-image: url("../assets/images/dog/doglaugh.png");
  background-size: 100%;
  background-repeat: no-repeat;
  animation-name: dog-laugh;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  transform: scale(120%);
}

@keyframes dog-laugh {
  0% {
    bottom: 0%;
    opacity: 1;
  }

  30% {
    bottom: 26%;
  }

  60% {
    bottom: 26%;
  }

  99% {
    opacity: 1;
  }

  100% {
    bottom: 0%;
    opacity: 0;
  }
}
